<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidenav">
  <p><i class="fa fa-fw fa-envelope">GSCM</i></p>
  <button class="dropdown-btn"><i class="fa fa-fw fa-envelope"></i>Admin Utility
    <i class="fa fa-caret-right"></i>
  </button>
  <div class="dropdown-container">
    <a href="/manage-users">Manage Users</a>
    <a href="/manage-roles">Manage Roles</a>
    <a href="/map-user">Map Users & Roles</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-fw fa-envelope"></i>Account Utility
    <i class="fa fa-caret-right"></i>
  </button>
  <div class="dropdown-container">
    <a href="/manage-projects">Manage Projects</a>
    <a href="/manage-nes">Manage NEs</a>
    <a href="/manage-nes-instances">Manage NEs Instances</a>
  </div>
  <button class="dropdown-btn"><i class="fa fa-fw fa-envelope"></i>GS Configuration
    <i class="fa fa-caret-right"></i>
  </button>
  <div class="dropdown-container">
    <a href="/import-configuration">Import Configuration</a>
    <a href="/manage-configuration">Manage Configuration</a>
    <a href="/export-configuration">Export Configuration</a>
    <a href="compare-configuration">Compare Configuration</a>
  </div>
</div>
<div class="navbar">
  <label>Account : {{accountholder}} </label><span class='user'><u>Welcome,{{User}}</u><i class="fa fa-fw fa-user"></i></span>
</div>
<div class="main">
  <div class="jumbotron text-center">
    <p class="gscm">GSCM</p>
    <h1 class="gscmheading">Configuration Management of GS</h1>
  <div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Admin Utility</h3>
        <p>This helps in following administration activites:</p>
        <ul>
          <li><a routerLink="/manage-users">Manage Users</a></li>
          <li><a routerLink="/manage-roles">Manage Roles</a></li>
          <li><a routerLink="/map-user">Map Users & Roles</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>Account Utility</h3>
        <p>This helps in following account activites:</p>
        <ul>
          <li><a href="/manage-projects">Manage Projects</a></li>
          <li><a href="/manage-nes">Manage NEs</a></li>
          <li><a href="/manage-nes-instances">Manage NEs Instances</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3>GS Configuration</h3>
        <p>This helps in following configuration options:</p>
        <ul>
          <li><a href="/import-configuration">Import Configuration</a></li>
          <li><a href="/manage-configuration">Manage Configuration</a></li>
          <li><a href="/export-configuration">Export Configuration</a></li>
          <li><a href="compare-configuration">Compare Configuration</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>