<div class=container>
  <div class=login></div>
  <div class=login-n><b>Login to your Account</b></div>
  <form name=form (submit)='Login(user)'>
    <div class='login-block'>
      <p class='user'><b>Welcome AT&T User</b></p>
      <label><b>Username</b></label><br>
      <input type=text name='Username' [(ngModel)]="User"><br><br>
      <label><b>Password</b></label><br>
      <input type="password" name='Password' [(ngModel)]="Pass"><br>
      <a href="login.component.html">Forget Password?</a><br><br><br>
      <button type="submit">Login</button>
  </div>
</form>
</div>
