/* You can add global styles to this file, and also import other style files */
@import  "~ag-grid/dist/styles/ag-grid.css";
@import  "~ag-grid/dist/styles/ag-theme-balham.css";


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    padding: 25px
}

body{
    background-color: gainsboro;
}